In [1]:
#
# Copyright (C) 2024 by Sonja Filiposka <sonja.filiposka@finki.ukim.mk>
#
# This code is licensed under a Creative Commons Attribution 4.0 International License. (see LICENSE.txt for details)
#
# General Description - this notebook is used to merge the data extracted from OMNeT and Sumo datasets by time and vehicle's id.
# It has to be customised for each dataset.
#

In [2]:
import pandas as pd

In [3]:
## read the files
# Paths for the input files
vehicles_file_path ="dataset_AI_output/4928_sumo_AI.csv"
omnet_file_path ="dataset_AI_output/4928_omnet_AI_matrix.csv"
cars_file_path ="dataset_AI_output/car4928.txt"

# Load the CSV files
vehicles_data = pd.read_csv(vehicles_file_path, delimiter='\t')
omnet_data = pd.read_csv(omnet_file_path, delimiter='\t')
cars_data = pd.read_csv(cars_file_path, delimiter=' ', header=None)
cars_data.columns =  ['omnet', 'sumo']

# Print the column names of each DataFrame
print("Columnas de vehicles_data:", vehicles_data.columns.tolist())
print("Columnas de omnet_data:", omnet_data.columns.tolist())
# Print the head 
print("vehicles_data:",vehicles_data.head())
print("omnet_data:",omnet_data.head())
print("cars_data:",cars_data.head())

Columnas de vehicles_data: ['t', 'veh_id', 'x', 'y', 'angle', 'speed', 'pos', 'lane', 'slope', 'signals']
Columnas de omnet_data: ['Time', 'Object', 'averageCqiDl', 'distance', 'measuredSinrDl', 'measuredSinrUl', 'rcvdSinrDl', 'rlcDelayDl', 'rlcPduDelayDl', 'rlcThroughputDl', 'servingCell', 'servingCell-1', 'servingCell-2', 'servingCell-3', 'servingCell-4', 'servingCell-5', 'servingCell-6', 'servingCell-7', 'servingCell1', 'servingCell2', 'servingCell3', 'servingCell4', 'servingCell5', 'servingCell6', 'servingCell7']
vehicles_data:       t  veh_id         x          y   angle  speed  pos          lane  slope  \
0  0.00       0 -0.482437  38.344131  339.66   0.00  5.1  23036317#1_0    0.0
1  0.01       0 -0.482437  38.344131  339.66   0.03  5.1  23036317#1_0    0.0
2  0.02       0 -0.482437  38.344131  339.66   0.05  5.1  23036317#1_0    0.0
3  0.03       0 -0.482437  38.344131  339.66   0.08  5.1  23036317#1_0    0.0
4  0.04       0 -0.482437  38.344131  339.66   0.10  5.1  23036317#1_0    0.0

   signals
0        0
1        8
2        8
3        8
4        0
omnet_data:    Time  Object  averageCqiDl    distance  measuredSinrDl  measuredSinrUl  \
0  0.10     0.0          10.0  278.150819       19.767528       31.197934
1  0.11     0.0          10.0  278.150819       19.767528       31.197934
2  0.12     0.0          10.0  278.150819       19.767528       31.197934
3  0.13     0.0          10.0  278.150819       19.767528       31.197934
4  0.14     0.0          10.0  278.150819       19.767528       31.197934

   rcvdSinrDl  rlcDelayDl  rlcPduDelayDl  rlcThroughputDl  ...  servingCell-5  \
0   23.440494       0.007          0.004       644.859813  ...           -1.0
1   23.440494       0.007          0.004       644.859813  ...           -1.0
2   23.440494       0.006          0.004       874.429907  ...           -1.0
3   23.440494       0.005          0.004      1104.000000  ...           -1.0
4   23.440494       0.005          0.004      1211.862069  ...           -1.0

   servingCell-6  servingCell-7  servingCell1  servingCell2  servingCell3  \
0           -1.0           -1.0           0.0           0.0           0.0
1           -1.0           -1.0           0.0           0.0           0.0
2           -1.0           -1.0           0.0           0.0           0.0
3           -1.0           -1.0           0.0           0.0           0.0
4           -1.0           -1.0           0.0           0.0           0.0

   servingCell4  servingCell5  servingCell6  servingCell7
0           0.0           0.0           0.0           0.0
1           0.0           0.0           0.0           0.0
2           0.0           0.0           0.0           0.0
3           0.0           0.0           0.0           0.0
4           0.0           0.0           0.0           0.0

[5 rows x 25 columns]
cars_data:    omnet  sumo
0     11    13
1      3     5
2     13    16
3      0     0
4     12    14

In [4]:
print(cars_data['sumo'].nunique())
print(cars_data['omnet'].nunique())

886
894

In [5]:
#look for duplicates in omnet
ind_dup = cars_data[cars_data['sumo'].duplicated(keep=False)].sort_values('sumo').index.tolist()
cars_dup = cars_data.loc[ind_dup]
cars_dup

     omnet  sumo
611    368   430
616    685   430
610    369   431
654    683   431
481    371   433
496    525   433
612    379   441
837    686   441
613    437   508
633    684   508
614    450   523
632    687   523
758    513   599
771    836   599
764    539   628
783    841   628

In [6]:
omnet_first = cars_dup[cars_dup['sumo'].duplicated(keep='last')]
omnet_last = cars_dup[cars_dup['sumo'].duplicated(keep='first')]
omnet_last.omnet

616    685
654    683
496    525
837    686
633    684
632    687
771    836
783    841
Name: omnet, dtype: int64

In [7]:
omnet_first.omnet

611    368
610    369
481    371
612    379
613    437
614    450
758    513
764    539
Name: omnet, dtype: int64

In [8]:
omnet_data.describe()

,Time,Object,averageCqiDl,distance,measuredSinrDl,measuredSinrUl,rcvdSinrDl,rlcDelayDl,rlcPduDelayDl,rlcThroughputDl,...,servingCell-5,servingCell-6,servingCell-7,servingCell1,servingCell2,servingCell3,servingCell4,servingCell5,servingCell6,servingCell7
count,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,...,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06
mean,6.547535e+02,2.920676e+02,1.032181e+01,2.064799e+02,2.225631e+01,3.079317e+01,2.399202e+01,6.882979e-03,4.256671e-03,1.364813e+02,...,1.736098e+00,1.691292e+00,1.646533e+00,1.950799e+00,1.937857e+00,1.924483e+00,1.910510e+00,1.896085e+00,1.881231e+00,1.866026e+00
std,3.442060e+02,1.645081e+02,3.412721e+00,8.873015e+01,1.194655e+01,1.166202e+01,1.184736e+01,4.282017e-02,2.333494e-03,2.088434e+02,...,2.103121e+00,2.107172e+00,2.110338e+00,2.083775e+00,2.097410e+00,2.110911e+00,2.124085e+00,2.136970e+00,2.149604e+00,2.161988e+00
min,1.000000e-01,0.000000e+00,1.000000e+00,1.386790e+00,-2.075749e+01,-9.654387e+00,-1.424427e+01,4.000000e-03,4.000000e-03,5.672900e-02,...,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,3.499900e+02,1.490000e+02,8.000000e+00,1.555169e+02,1.407203e+01,2.319028e+01,1.592419e+01,4.269000e-03,4.000000e-03,2.416399e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.683300e+02,3.020000e+02,1.100000e+01,2.095343e+02,2.130402e+01,2.994349e+01,2.319668e+01,4.546000e-03,4.000000e-03,6.463700e+01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
75%,9.560100e+02,4.310000e+02,1.300000e+01,2.548145e+02,2.901043e+01,3.730739e+01,3.077042e+01,4.810000e-03,4.000000e-03,1.539454e+02,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
max,1.217990e+03,6.020000e+02,1.500000e+01,1.003831e+03,1.040633e+02,1.117150e+02,1.082689e+02,1.910241e+00,4.540000e-01,2.453902e+03,...,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00

In [9]:
newvehid=omnet_data["Object"].replace(omnet_last.omnet.unique(),omnet_first.omnet.unique())
omnet_data["Object"] = newvehid
newvehid=cars_data['omnet'].replace(omnet_last.omnet.unique(),omnet_first.omnet.unique())
cars_data["omnet"] = newvehid
cars_data[cars_data['sumo'].duplicated(keep=False)]

     omnet  sumo
481    371   433
496    371   433
610    369   431
611    368   430
612    379   441
613    437   508
614    450   523
616    368   430
632    450   523
633    437   508
654    369   431
758    513   599
764    539   628
771    513   599
783    539   628
837    379   441

In [10]:
print('cambio: ', omnet_last.omnet.unique(),' por ',omnet_first.omnet.unique())

cambio:  [685 683 525 686 684 687 836 841]  por  [368 369 371 379 437 450 513 539]

In [11]:
omnet_data["Object"].nunique()

602

omnet_data["Object"].unique()

In [12]:
omnet_data.describe()

,Time,Object,averageCqiDl,distance,measuredSinrDl,measuredSinrUl,rcvdSinrDl,rlcDelayDl,rlcPduDelayDl,rlcThroughputDl,...,servingCell-5,servingCell-6,servingCell-7,servingCell1,servingCell2,servingCell3,servingCell4,servingCell5,servingCell6,servingCell7
count,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,...,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06
mean,6.547535e+02,2.919765e+02,1.032181e+01,2.064799e+02,2.225631e+01,3.079317e+01,2.399202e+01,6.882979e-03,4.256671e-03,1.364813e+02,...,1.736098e+00,1.691292e+00,1.646533e+00,1.950799e+00,1.937857e+00,1.924483e+00,1.910510e+00,1.896085e+00,1.881231e+00,1.866026e+00
std,3.442060e+02,1.644217e+02,3.412721e+00,8.873015e+01,1.194655e+01,1.166202e+01,1.184736e+01,4.282017e-02,2.333494e-03,2.088434e+02,...,2.103121e+00,2.107172e+00,2.110338e+00,2.083775e+00,2.097410e+00,2.110911e+00,2.124085e+00,2.136970e+00,2.149604e+00,2.161988e+00
min,1.000000e-01,0.000000e+00,1.000000e+00,1.386790e+00,-2.075749e+01,-9.654387e+00,-1.424427e+01,4.000000e-03,4.000000e-03,5.672900e-02,...,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,3.499900e+02,1.490000e+02,8.000000e+00,1.555169e+02,1.407203e+01,2.319028e+01,1.592419e+01,4.269000e-03,4.000000e-03,2.416399e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.683300e+02,3.020000e+02,1.100000e+01,2.095343e+02,2.130402e+01,2.994349e+01,2.319668e+01,4.546000e-03,4.000000e-03,6.463700e+01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
75%,9.560100e+02,4.300000e+02,1.300000e+01,2.548145e+02,2.901043e+01,3.730739e+01,3.077042e+01,4.810000e-03,4.000000e-03,1.539454e+02,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
max,1.217990e+03,6.020000e+02,1.500000e+01,1.003831e+03,1.040633e+02,1.117150e+02,1.082689e+02,1.910241e+00,4.540000e-01,2.453902e+03,...,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00

In [13]:
print(cars_data[cars_data['sumo'].duplicated(keep=False)].sort_values('sumo'))
cars_data = cars_data.drop_duplicates(keep='first', ignore_index=True)

vehidu = cars_data["omnet"].unique()
valuestochange = cars_data["sumo"].unique()
newvehid = vehicles_data["veh_id"].replace(valuestochange,vehidu)
vehicles_data["veh_id"] = newvehid

     omnet  sumo
611    368   430
616    368   430
610    369   431
654    369   431
481    371   433
496    371   433
612    379   441
837    379   441
613    437   508
633    437   508
614    450   523
632    450   523
758    513   599
771    513   599
764    539   628
783    539   628

In [14]:
# Combine the DataFrames based on the 't' column in vehicles_data and 'time' column in omnet_data
combined_data = pd.merge(vehicles_data, omnet_data, left_on=['t','veh_id'], right_on=['Time','Object'], how='right')

In [15]:
combined_data.describe()

,t,veh_id,x,y,angle,speed,pos,slope,signals,Time,...,servingCell-5,servingCell-6,servingCell-7,servingCell1,servingCell2,servingCell3,servingCell4,servingCell5,servingCell6,servingCell7
count,5.052190e+06,5.052190e+06,5.052190e+06,5.052190e+06,5.052190e+06,5.052190e+06,5.052190e+06,5052190.0,5.052190e+06,5.220956e+06,...,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06,5.220956e+06
mean,6.544203e+02,2.924285e+02,-4.877412e-01,3.834456e+01,1.955118e+02,1.205337e+01,2.336763e+01,0.0,2.234539e+00,6.547535e+02,...,1.736098e+00,1.691292e+00,1.646533e+00,1.950799e+00,1.937857e+00,1.924483e+00,1.910510e+00,1.896085e+00,1.881231e+00,1.866026e+00
std,3.451207e+02,1.646725e+02,3.740165e-03,3.093041e-03,1.014172e+02,7.357790e+00,3.522339e+01,0.0,3.538204e+00,3.442060e+02,...,2.103121e+00,2.107172e+00,2.110338e+00,2.083775e+00,2.097410e+00,2.110911e+00,2.124085e+00,2.136970e+00,2.149604e+00,2.161988e+00
min,1.000000e-01,0.000000e+00,-4.949580e-01,3.833660e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,1.000000e-01,...,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,3.482200e+02,1.490000e+02,-4.903010e-01,3.834259e+01,1.303700e+02,7.680000e+00,4.450000e+00,0.0,0.000000e+00,3.499900e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.663800e+02,3.020000e+02,-4.876100e-01,3.834476e+01,1.890700e+02,1.250000e+01,1.342000e+01,0.0,0.000000e+00,6.683300e+02,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
75%,9.572900e+02,4.310000e+02,-4.848730e-01,3.834671e+01,2.653400e+02,1.533000e+01,3.147000e+01,0.0,8.000000e+00,9.560100e+02,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
max,1.217790e+03,6.020000e+02,-4.741460e-01,3.835298e+01,3.600000e+02,3.438000e+01,5.104700e+02,0.0,1.000000e+01,1.217990e+03,...,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00

In [16]:
#check it
# Print the head of the combined DataFrame to verify the result
print("Fichero final: ")
print(combined_data.head())

# Drop the redundant 'time' column
#combined_data = combined_data.drop(columns=['Time', 'Object'])

# Drop NaN values
combined_data = combined_data.dropna()

print("Columnas de combined_data:", combined_data.columns.tolist())

# Path for the output file
combined_file_path = 'dataset_AI_output/combined_vehicles_4928.csv'

# Save the combined DataFrame to a new CSV file
combined_data.to_csv(combined_file_path, index=False)

print(f'Archivo combinado guardado en {combined_file_path}')

Fichero final:
      t  veh_id         x          y   angle  speed   pos          lane  \
0  0.10     0.0 -0.482437  38.344131  339.66   0.26  5.11  23036317#1_0
1  0.11     0.0 -0.482437  38.344131  339.66   0.28  5.12  23036317#1_0
2  0.12     0.0 -0.482437  38.344131  339.66   0.31  5.12  23036317#1_0
3  0.13     0.0 -0.482437  38.344131  339.66   0.33  5.12  23036317#1_0
4  0.14     0.0 -0.482437  38.344131  339.66   0.36  5.13  23036317#1_0

   slope  signals  ...  servingCell-5  servingCell-6  servingCell-7  \
0    0.0      0.0  ...           -1.0           -1.0           -1.0
1    0.0      0.0  ...           -1.0           -1.0           -1.0
2    0.0      0.0  ...           -1.0           -1.0           -1.0
3    0.0      0.0  ...           -1.0           -1.0           -1.0
4    0.0      0.0  ...           -1.0           -1.0           -1.0

   servingCell1  servingCell2  servingCell3  servingCell4  servingCell5  \
0           0.0           0.0           0.0           0.0           0.0
1           0.0           0.0           0.0           0.0           0.0
2           0.0           0.0           0.0           0.0           0.0
3           0.0           0.0           0.0           0.0           0.0
4           0.0           0.0           0.0           0.0           0.0

   servingCell6  servingCell7
0           0.0           0.0
1           0.0           0.0
2           0.0           0.0
3           0.0           0.0
4           0.0           0.0

[5 rows x 35 columns]
Columnas de combined_data: ['t', 'veh_id', 'x', 'y', 'angle', 'speed', 'pos', 'lane', 'slope', 'signals', 'Time', 'Object', 'averageCqiDl', 'distance', 'measuredSinrDl', 'measuredSinrUl', 'rcvdSinrDl', 'rlcDelayDl', 'rlcPduDelayDl', 'rlcThroughputDl', 'servingCell', 'servingCell-1', 'servingCell-2', 'servingCell-3', 'servingCell-4', 'servingCell-5', 'servingCell-6', 'servingCell-7', 'servingCell1', 'servingCell2', 'servingCell3', 'servingCell4', 'servingCell5', 'servingCell6', 'servingCell7']
Archivo combinado guardado en dataset_AI_output/combined_vehicles_4928.csv